# All __pycache__ directories
__pycache__/

# Personal notepad
notes/

# Configuration files
.vscode/

# Local utilities
env.bat

# Virtual environments
venv/
backend/venv/
one_church/lib/
one_church/venv/
one_church/

# Node modules
frontend/node_modules/
