# Database
POSTGRES_DB=one_church_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=onechurch
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Redis
REDIS_URL=redis://redis:6379/0

# Django
DEBUG=1
SECRET_KEY=django-insecure-%&z^q2h8$-ep**^nlx_26ii%za4-12n$^!3^5m$2iys%8&6r^2
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Frontend
REACT_APP_API_URL=http://localhost:8000
